* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: #1b2937;
  --content-color: #282828;
  --accent-color-yellowish: #ceb385;
  --accent-color-brownish: #5a4d42;
  --text-header-color: #f5fbfc;
  --text-normal-color: #7f7f7f;
}

body {
  font-family: Arial, sans-serif;
  color: var(--content-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

.main-cont {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 50px;
  background: var(--text-normal-color);
  color: white;
}

.main-cont .learn-more {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: var(--header-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.main-cont .learn-more:hover {
  background: var(--accent-color-yellowish);
}

.about-content {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: var(--text-normal-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  background: var(--header-color);
  color: white;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

nav .logo {
  max-width: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.form-cont {
  width: 100%;
  min-height: 100vh;
  background: var(--text-normal-color);
}

footer {
  text-align: center;
  padding: 10px;
  background: var(--header-color);
  color: var(--text-header-color); /* Adjusted for better contrast */
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

p::first-letter {
  color: var(--accent-color-yellowish);
  font-size: xx-large;
}
