* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #141414;
  --content-color: #282828;
  --accent-color-blue: #3ba7d5;
  --accent-color-green: #69a332;

  --text-header-color: #f5fbfc;
  --text-normal-color: #7f7f7f;
}

body {
  background-color: var(--background-color);
  padding: 2em;
}

.resume-container {
  background-color: var(--content-color);
  padding: 1em;
}

/* .summary-container {} */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.mypict {
  max-width: 64px;
}

.title-container h2 {
  color: var(--text-header-color);
  margin-bottom: 0.125em;
}

.title-container h4 {
  color: var(--accent-color-blue);
}

.contact-card p {
  font-size: 0.75em;
  color: var(--text-normal-color);
}

.contact-card p strong {
  font-size: 1.01em;
  color: var(--text-header-color);
}

.summary-text {
  margin-top: 1.25em;
  color: var(--text-normal-color);
}

/* General Styling */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #19191b;
  color: #333;
}

h1,
h2,
h3 {
  color: #75719d;
}

.info-cont {
  display: flex;
}
.container {
  display: flex;

  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.cards-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  background-color: #aed5ef;
  color: rgb(220, 17, 17);
  padding: 30px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

.contact-info {
}
.contact-info p {
  font-size: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.left-column,
.right-column {
  width: 48%;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1rem;
  margin-bottom: 8px;
  color: rgb(141, 160, 177);
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  margin: 0;
  font-size: 1.4rem;
}

footer {
  text-align: center;
  background-color: #3498db;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
