/* Setting default styles for body and html */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Calibri", Arial, sans-serif;
}

/* Heading Style */
h1 {
  color: goldenrod;
}

/* Header Container Style */
.header-container {
  background-color: maroon;
  padding-left: 50px;
}

/* Main container */
.jewelry-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

/* jewel deisn */
.jewelry-container > div:first-child {
  width: 60%;
}

.earring-showcase {
  display: flex;
  justify-content: space-around;
}

/* Individual earring Style */
.earring {
  width: 200px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.earring img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.price {
  color: maroon;
}

/* Button Styles */
button {
  background: whitesmoke;
  color: maroon;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background: #ffab40;
}

/* Contact and Information Section Styles */
.jewelry-container > div:last-child {
  width: 35%;
}

/* Label Style */
label {
  font-weight: bold;
}

/* Input Styles */
input:focus {
  border: 3px solid maroon;
}

#contact-form {
  width: 100%;
  margin-top: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 7px;
  margin: 5px 0;
  outline: 0.2px solid grey;
  border-radius: 5px;
}

#contact-form textarea {
  height: 100px;
}

/* Submit Button Styles */
#contact-form input[type="submit"]:hover {
  background: #ffab40;
}

/* Cart Container Styles */
.cart-container {
  margin-top: 20px;
  text-align: left;
}

/* Button Styles for Cart and Submit Form */
#clear-cart-button,
#submitForm button {
  background: whitesmoke;
  color: maroon;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

/* Hover Styles for Cart and Submit Form Buttons */
#clear-cart-button:hover,
#submitForm button:hover {
  background: #ffab40;
}

/* Styling for footer */
footer {
  background-color: whitesmoke;
  color: maroon;
  text-align: left;
  padding: 7px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3%;
  line-height: 3px;
}

/* *******************************************END CODE******************************************************** */
