* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #ff8a00, #da1b60);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}
img {
    display: block;
    margin: 0 auto;
}
img {
    width: 50%;
    height: auto;
}
img {
    border: 5px solid #fff;
}

